spring:
  datasource:
    url: jdbc:sqlserver://localhost:1433;databaseName=InvoiceReporting;encrypt=false
    username: sa
    password: StrongPassw0rd!
    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true